@font-face {
    font-family: 'insta';
    src: url(./fonts/Billabong.otf);
}



body{
    
    background-color: black;
}

#all{
    margin: auto;
    max-width: 430px;
}

header{
    display: flex;
    flex-direction: row;
}

#logo{
    color: white;
    font-size: 1.3em;

    font-family: 'insta', serif;
}

#icons{
    width: 100vw;
    text-align: right;
}
.msg,.heart{
    margin-top: 5px;
    margin-right: 10px;
}

.divStory{
    background-color: black;
}

.storyContainer {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px 0;
    background-color: black;
    
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer e Edge */
    -webkit-overflow-scrolling: touch;
}

.storyContainer::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem no Chrome, Safari e outros navegadores WebKit */
}

.story {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto; /* Impede que os stories estiquem ou encolham */
    width: 78.5px; /* Largura fixa para cada story */
    height: 78.5px; /* Altura fixa para cada story */
    margin-right: 10px; /* Espaçamento entre cada story */
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    text-align: center;
    line-height: 75px; /* Centraliza o texto verticalmente */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    
    
    border-radius: 50%; /* Assegura que a borda seja completamente arredondada */
    
}


.storyImg{
    object-fit: cover;
    flex: 0 0 auto;
    width: 75px;
    height: 75px; /* Largura fixa para cada story */
    border-radius: 50%;
    
}

.myStory{
    width: 74px; /* Largura fixa para cada story */
    height: 74px; /* Altura fixa para cada story */
    position: relative;
    border: none;
}
.myStory::after{
    position: absolute;
    content: "+";
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75%;
    left: 73%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0893ee;
    border: 1px solid black;
    
}

  
