/* Reseta o estilo padrão para evitar margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Garante que não haja rolagem no corpo e HTML */
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita rolagem */
}

/* Estiliza o contêiner do vídeo */
.container_video_story {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Garante que não há overflow */
    display: flex;

    align-items: center;
    background-color: black; /* Para evitar bordas pretas */
    flex-direction: column;
    color: white;
    max-width: 430px;
    
}

/* Estiliza a barra de carregamento */
.load {
    position: relative;
    width: 96%;
    height: 1.5px;
    background-color: rgba(128, 128, 128, 0.801);
    margin-top: 8px;
    margin-bottom: 8px;
    z-index: 2;
}
/*-------------------------------------Load-------------------------------------------*/
.loadC1 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 21.5s linear forwards;
    z-index: 2;
}

.loadC2 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 13s linear forwards;
    z-index: 2;
}

.loadC3 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 34.5s linear forwards;
    z-index: 2;
}

.loadC4 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 42.5s linear forwards;
    z-index: 2;
}

.loadC5 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 46.5s linear forwards;
    z-index: 2;
}

.loadC6 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 34.5s linear forwards;
    z-index: 2;
}

.loadC7 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 34.5s linear forwards;
    z-index: 2;
}

.loadC8 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 59.5s linear forwards;
    z-index: 2;
}

.loadC9 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 34.5s linear forwards;
    z-index: 2;
}

.loadC10 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 31.5s linear forwards;
    z-index: 2;
}

.loadC11 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 46.5s linear forwards;
    z-index: 2;
}

.loadC12 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 47.5s linear forwards;
    z-index: 2;
}

.loadC13 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 48.5s linear forwards;
    z-index: 2;
}

.loadC14 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 59.5s linear forwards;
    z-index: 2;
}

.loadC15 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 36.5s linear forwards;
    z-index: 2;
}

.loadC16 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 27.5s linear forwards;
    z-index: 2;
}

.loadC17 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 30.5s linear forwards;
    z-index: 2;
}

.loadC18 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 27.5s linear forwards;
    z-index: 2;
}

.loadC19 {
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    animation: load 37.5s linear forwards;
    z-index: 2;
}

/*-------------------------------------------------------------------------------*/

.bordaImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px; /* Largura fixa para cada story */
    border-radius: 50%;
}

.video_padrao {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o vídeo cobre toda a área */
    position: absolute;
    z-index: 1;
    background-color: black;

    right: 0;
    left: 0%;
}

.btnNext{
    background-color: transparent;
    width: 100px;
    height: 100%;
    left: 74%;
    top: 70px;
    z-index: 2;
    position: absolute;

    cursor: pointer;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btnBack{
    background-color: transparent;
    width: 100px;
    height: 100%;
    left: 0%;
    top: 70px;
    z-index: 2;
    position: absolute;

    cursor: pointer;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.home{
    background-color: transparent;
    width: 100%;
    height: 100px;
    left: 0%;
    top: 88%;
    z-index: 2;
    position: absolute;

    cursor: pointer;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes load {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes next{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 30%;
    }
}
.aniNext{
    animation: next linear 0.3s forwards
}


@keyframes nextAjuste{
    0%{
        opacity: 30%;
    }
    100%{
        opacity: 100%;
    }
}
.aniNextAjuste{
    animation: nextAjuste linear 0.3s forwards
}
